{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Googolplex Search - IR17</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <div class="navbar">
    <div class="heading-small">
      <a href="/"><h1>Googolplex!</h1></a>
    </div>
    <form action="/docs/" method="get" class="search-bar-small">
      <input name="query" type="text" value="" placeholder="Search anything...">
      <button type="submit"><img src="{% static 'images/search.png' %}"></button>
    </form>
  </div>
  <div class="container-plain">
    {% if docs %}
      <div class="message">
        <p>Viewing top search result for <b>"{{query}}"</b> in {{time_count|floatformat:2}} seconds</p>
      </div>
      {% for doc in docs %}
        <article class="doc">
          <div class="doc-name">
            <a href="/doc/{{doc}}"><h3>{{doc}}</h3></a>
          </div>
          <div class="doc-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </article>
      {% endfor %}
    {% else %}
      <div class="message">
        <p>Whoops no document found!</p>
      </div>
      
    {% endif %}
  </div>
</body>
</html>

