{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Googolplex Search - IR17</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <div class="navbar">
    <div class="heading-small">
      <a href="/"><h1>Googolplex!</h1></a>
    </div>
    <form action="/docs/" method="get" class="search-bar-small">
      <input name="query" type="text" value="" placeholder="Search anything...">
      <button type="submit"><img src="{% static 'images/search.png' %}"></button>
    </form>
  </div>
  <div class="container-plain">
    {% if doc_name %}
      <article class="doc">
        <div class="doc-name">
          <a href="/doc/{{doc_name}}"><h3>{{doc_name}}</h3></a>
        </div>
        <div class="doc-content">
          <p>"{{doc_content}}</p>
        </div>
      </article>
    {% else %}
      <div class="message">
        <p>Whoops no document found!</p>
      </div>
      
    {% endif %}
  </div>
</body>
</html>